body{
    background-color: black;
}

img{
    top: 10%;
    width: 50%;
}

.layout_img{
	display: grid;
	height: 100%;
	position: relative;
}

.layout_img .btn{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: transparent;
    color:white;
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    cursor: pointer;
	border-radius: 5px;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	margin: auto;
	font-weight: 900;
	text-transform: uppercase;
}

.img_fit{
max-width: 100%;
  max-height: 100vh;
  margin: auto;
}
