.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
}
p{
  margin: 0px;
  color: darkorange;
}

.user-img{
  padding:2% 10% 10% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:75%;
  height: 50%;
}

.list-img{
  margin: 2%;
  text-align: center;
  font-size: 18px;
  border: 1px solid #DDD;
  border-radius: 5px;
  width: 215px;
  height: 150px;
  padding: 3%;
}

.list-username{
  margin: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
